<h1>Word List</h1>
<ul>
  <li *ngFor="let word of words">{{ word.dict.ru }} -{{ word.dict.en }}</li>
</ul>
<button (click)="addNewWord()">Add new word</button>
<section><h2>Add new word</h2>

<form action="">
  <label for="newWord">New word:</label>
  <input type="text" name="newWord" id="newWord" [(ngModel)]="newWord">
</form>


</section>

<!-- Template driven forms -->
<!-- <form action="" #searchForm="ngForm" (ngSubmit)="onSubmit()" method="post">
  <label for="search">Search</label>
  <input
    type="search"
    value="cookie"
    required
    name="search"
    [(ngModel)]="searchString"
    id="search"
  />
  <button type="submit">Submit</button>
</form> -->

<!-- Reactive Forms -->
<!-- <h1>Reactive Forms</h1>
<form>
  <label>
    Name:

    <input type="text" name="" [formControl]="name" id="" />
  </label>
  <button (click)="updateName()">Update Name</button>
</form>
{{ name.value }} -->
<!-- <input type="text" value="cookie" name="search" id="search2" /> -->
<!-- {{ searchString }} -->
<!-- <form action=""> -->
<!-- <input
    type="text"
    name=""
    id="new-word-input"
    placeholder="type word here"
    (onchange)="handleInputChange($event)"
  /> -->
<!-- <button type="submit"> Submit</button> -->
<!-- </form> -->
