<div>
    <!-- {{message}} -->
    {{word}}
    <button (click)="goBubble()">Counter</button>

    <div>

        <button (click)="getCountries()">fetch</button>
    </div>
    <ul>
        <li *ngFor="let country of countries" >
            {{country.name}}

        </li>
    </ul>




<div>
    <input type="search" name="search" id="" (onchange)="handleChange()">
</div>
<!-- 
<div appMyDirective>my-comp works!{{title2}}
    <span [hidden]='false'>this is sapn2</span>
    <h1>HERE IS HE CODE</h1>
    <span *ngFor="let char of [1,2,3]">
        <h2>{{char}}</h2></span>



</div> -->


