<app-nav></app-nav>
<section class="settings">
  <h1>Settings</h1>
  <form
    action=""
    (ngSubmit)="onSubmit(set.value)"
    class="settings"
    #set="ngForm"
  >
    <label for="language">
      Language:
    </label>
    <select
      class="input"
      name="language"
      id="language"
      [value]="settings.currentLanguage"
      [(ngModel)]="settings.currentLanguage"
    >
      <option *ngFor="let lang of settings.languages">{{ lang }}</option>
    </select>

    <label for="wordsNum">Number of words:</label>
    <input
      class="input"
      type="number"
      name="numOfWords"
      id="wordsNum"
      min="1"
      [(ngModel)]="settings.numOfWords"
    />

    <label for="time">Time for challenge, sec:</label>
    <input
      class="input"
      type="number"
      name="challengeTime"
      id="time"
      min="1"
      [(ngModel)]="settings.time"
    />
    <button type="submit">Apply</button>
  </form>
</section>
