<app-nav></app-nav>
<h1>Word Challenge</h1>
<div>
  <button (click)="toggleVisibility()">
    {{ (state.isChallengeVisible ? "Close" : "Start") + " test" }}
  </button>
</div>
<section *ngIf="state.isChallengeVisible">
  <div *ngFor="let word of getChallengeWords()">
    <form (ngSubmit)="onSubmit(word)" #challengeForm="ngForm">
      <label for="word"
        >{{ word[settingsService.settings.currentLanguage] }} -
      </label>
      <input
        type="text"
        name="word"
        required
        placeholder="Введите здесь ответ"
        id="{{ word[settingsService.settings.currentLanguage] }}"
        [(ngModel)]="state.response[word[settingsService.settings.currentLanguage]]"
        [ngClass]="{ 'wrong-answer': state.answerStatus[word.ru] === 'WRONG' }"
      />
      <button type="submit" [disabled]="!challengeForm.form.valid">
        Submit
      </button>
      <span
        class="challenge-error"
        *ngIf="state.answerStatus[word[settingsService.settings.currentLanguage]] === 'WRONG'"
      >
        Try again - you can do it!
      </span>
      <span
        class="challenge-correct"
        *ngIf="state.answerStatus[word[settingsService.settings.currentLanguage]] === 'CORRECT'"
        >You rock!</span
      >
    </form>
  </div>
  <div>
    <div *ngIf="true">
      Осталось секунд: {{ settingsService.settings.time - state.timeCount }}
    </div>
    <div
      *ngIf="state.resultMessage"
      [ngClass]="state.finalResult === 'CORRECT' ? 'success' : 'error'"
    >
      {{ state.resultMessage }}
    </div>
  </div>

  <button (click)="reset()">Restart test</button>
</section>
