.wrong-answer {
  border: 1px solid red;
}

.right-answer {
  border: 1px solid green;
}

.success,
.challenge-correct {
  color: green;
}

.error,
.challenge-error {
  color: red;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}