.wrong-answer {
  border: 1px solid red;
}

.right-answer {
  border: 1px solid green;
}

.challenge-correct {
  color: green;
}

.challenge-error {
  color: red;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}
.error {
  color: red
}