<section class="settings">
  <h1>Settings</h1>
  <form action="" class="settings">
    <label for="language">
      Language:
    </label>
    <select class="input" name="language" id="language" [(ngModel)]="language">
      <option *ngFor="let lang of languages" [value]="settings.language.name">{{ lang}}</option>
    </select>

    <label for="wordsNum">Number of words:</label>
    <input
      class="input"
      type="number"
      name="numOfWords"
      id=""
      min="1"
      [(ngModel)]="numOfWords"
    />
    
    <label for="time">Time for challenge, sec:</label>
    <input
      class="input"
      type="number"
      name="challengeTime"
      id="time"
      min="1"
      [(ngModel)]="challengeTime"
    />
    <button (onClick)="onSubmit()">Apply</button>
  </form>
  {{ challengeTime }}
  {{ languages[0] }}
  {{ numOfWords }}
  {{ language }}
</section>

<style>
  label {
    margin-top: 8px;
  }
  .settings {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 50px;
  }
  .input {
    width: 200px;
  }
</style>
