<section class="settings">
  <h1>Settings</h1>
  <form action="" (ngSubmit)="onSubmit()" class="settings">
    <label for="language">
      Language:
    </label>
    <select class="input" name="language" id="language" [value]="ru" [(ngModel)]="settings.currentLanguage">
      <option *ngFor="let lang of settings.languages" >{{ lang}}</option>
    </select>

    <label for="wordsNum">Number of words:</label>
    <input
      class="input"
      type="number"
      name="numOfWords"
      id="wordsNum"
      min="1"
      [(ngModel)]="settings.numOfWords"
    />
    
    <label for="time">Time for challenge, sec:</label>
    <input
      class="input"
      type="number"
      name="challengeTime"
      id="time"
      min="1"
      [(ngModel)]="settings.time"
    />
    <button (onClick)="onSubmit()">Apply</button>
  </form>
  {{ challengeTime }}
  {{ numOfWords }}
  {{ language }}
</section>

<style>
  label {
    margin-top: 8px;
  }
  .settings {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 50px;
  }
  .input {
    width: 200px;
  }
</style>
